body {
    background-color: #f3f4f6;
}
.logo{
    font-family: "Abril Fatface", serif;
    
}
.transition-all {
    transition: all 0.3s ease;
}
.shadow-hover:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.calendar-day {
    width: calc(100% / 7);
    aspect-ratio: 1;
}
.calendar-day:hover {
    background-color: #e5e7eb;
}
.loading-animation {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
}